.scrollable {
    overflow: scroll;
    width: inherit;
    flex-grow: 1;
    position: relative;
}

.CalendarContainer {
    display: flex; flex-direction: column;
    position: relative;
    background-color: #e1dcbf;
    border: 5px solid black;
    height: inherit;
    width: inherit;
}

.HourLabels {
    grid-area: hourlabels;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(24, 60px);
    align-content: flex-start;
    text-align: right;
}

.DayLabel {
    border-bottom: 1px solid black;
    margin-right: 0px;
}

.DayLabels {
    position: relative;
    grid-area: daylabels;
    width: inherit;
    display: grid;
    padding-left: 70px;
    padding-right: 33px;
    grid-template-columns: repeat(7, minmax(75px, 1fr));
    align-content: end;
    text-align: center;
    font-weight: bold;
}

.circled {
    background: #389ec1;
    border-radius: 10px;
    color: white;
}