.Hour {
    margin-right: -2px;
    height: 58px;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
}

.block-container {
    position: relative;
    width: inherit;
}

.Day {
    width: inherit;
}