.flexbox-section {
  display: flex;
  justify-content: space-between;
}

.AppContent {
  margin: 10px auto;
  max-width: 90vw;
}

.temp-section {
  margin-left: 10px;
  margin-right: 10px;
}

.App {
  /*text-align: center;*/
}