.main-grid {
    display: grid;
    grid-template-columns: minmax(250px, 20%) 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    height: 85vh;
}