.Taskbar {
    grid-area: sidebar;
    background-color: pink;
    border: 5px solid black;
    overflow: scroll;
    height: inherit;
}

.task-box {
    background-color: cadetblue;
    border: 5px solid black;
    height: 150px;
    margin: 10px;
}